.eventsTopSection {
    width: 100%;
    min-height: 195px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 15%;
    text-align: left;
}

.eventsTopContent h4 {
    color: var(--gray);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;    
}

.eventsTopImageContent {
    display: flex;
    align-items: center;
}

.eventsTopContent h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.eventsTopContent h5 {
    font-size: 14px;
    color: var(--gray);
    margin-bottom: 4px;
    font-weight: 300;
}

#eventDateIcon {
    height: 54px;
    width: 54px;
    position: relative;
    top:0;
    left:0;
    border: 1px solid #bbb;
    box-sizing: border-box;
    margin-right: 20px;
    padding: 8px;
}

#eventDateIcon p:nth-child(1) {
    font-size: 20px;
}

#organizerAvatar {
    position: relative;
    bottom: 0;
    left: 0;
    margin-right: 20px;
}

.eventsTopContent h5 span {
    color: var(--blue);
    cursor: pointer;
}

.eventsTopGoing h3 {
    font-size: 16px;
}

.eventsTopGoing h3 span {
    color: var(--gray);
    font-size: 14px;
    font-weight: 300;
    padding-left: 10px;
}

.eventsGoingBtns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    padding-bottom: 20px;
    /* border-bottom: 1px solid #ccc; */
}

.eventsGoingBtns button {
    width: 46%;
    height: 32px;
    color: #eee;
    background: var(--blue);
    font-size: 16px;
}

.eventsGoingBtns button:hover {
    opacity: .8;
}

.eventsSocialHolder {
    display: flex;
    align-items: center;
    padding: 14px 14px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;    
}

.eventsSocialHolder h4 {
    font-weight: 300;
    color: #666;
    padding-left: 10px;
    padding-right: 40px;
    box-sizing: border-box;
    cursor: pointer;
}

.eventsSocialHolder h4:nth-child(6) {
    padding-right: 0;
}

.eventsTopGoing img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* ------------------------------------------------ */

.eventsBody {
    text-align: left;
    min-height: 700px;
    background: #f6f7f8;
    display: flex;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 20px;
}

.eventsBody h2 {
    font-size: 20px;
}

.eventsDetails {
    box-sizing: border-box;
    padding-bottom: 60px;
}

.eventsDetails h3 {
    font-weight: 300;
    font-size: 16px;
    padding-top: 20px;
    box-sizing: border-box;
}

.eventsAttendees {
    box-sizing: border-box;
    padding-bottom: 60px;
}

.eventsAttendeesTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.eventsAttendeesTop span {
    color: var(--blue);
    cursor: pointer;
}

.attendeesCards {
    display: flex;
}

/* ----------------------------- */

.attendeeCard {
    width: 134px;
    height: 176px;
    box-sizing: border-box;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 16px;
    margin-right: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
}

.attendeeCard:hover {
    box-shadow: 0px 4px 6px #ccc;
    transform: translate(0px, -2px);
}

.attendeeCard img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.attendeeCard h4 {
    font-size: 14px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 5px;
}

.attendeeCard h5 {
    color: var(--gray);
    font-weight: 300;
    font-size: 12px;
}

/* ---------------------------------- */

.eventsMap {
    width: 340px;
    height: 445px;
    border-radius: 10px
}

.eventsTimeHolder {
    display: flex;
}

.eventsMap img {
    width: 24px;
    height: 24px;
}