.eventsTopSection {
    width: 100%;
    min-height: 195px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 15%;
    text-align: left;
}

.events a {
    text-decoration: none;
}

.eventsTopContent h4 {
    color: var(--gray);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;    
}

.eventsTopImageContent {
    display: flex;
    align-items: center;
}

.eventsTopContent h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.eventsTopContent h5 {
    font-size: 14px;
    color: var(--gray);
    margin-bottom: 4px;
    font-weight: 300;
}

#eventDateIcon {
    height: 54px;
    width: 54px;
    position: relative;
    top:0;
    left:0;
    border: 1px solid #bbb;
    box-sizing: border-box;
    margin-right: 20px;
    padding: 8px;
}

#eventDateIcon p:nth-child(1) {
    font-size: 20px;
    line-height: 1.1
}

#organizerAvatar {
    position: relative;
    bottom: 0;
    left: 0;
    margin-right: 20px;
}

.eventsTopContent h5 span {
    color: var(--blue);
    cursor: pointer;
}

.eventsTopGoing h3 {
    font-size: 16px;
}

.eventsTopGoing h3 span {
    color: var(--gray);
    font-size: 14px;
    font-weight: 300;
    padding-left: 10px;
}

.eventsGoingBtns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    padding-bottom: 20px;
    /* border-bottom: 1px solid #ccc; */
}

.eventsGoingBtns button {
    width: 46%;
    height: 32px;
    color: #eee;
    background: var(--blue);
    font-size: 16px;
}

.eventsGoingBtns button:hover {
    opacity: .8;
}

.eventsSocialHolder {
    display: flex;
    align-items: center;
    padding: 14px 14px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;    
}

.eventsSocialHolder h4 {
    font-weight: 300;
    color: #666;
    padding-left: 10px;
    padding-right: 40px;
    box-sizing: border-box;
    cursor: pointer;
}

.eventsSocialHolder h4:nth-child(6) {
    padding-right: 0;
}

.eventsTopGoing img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* ------------------------------------------------ */

.eventsBody {
    text-align: left;
    min-height: 700px;
    background: #f6f7f8;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 20px;
    margin-left:auto;
}

.eventsBody h2 {
    font-size: 20px;
}

.eventsBodyContent {
    max-width: 700px;
    min-width: 500px;
    box-sizing: border-box;
    padding-right: 100px;
}

.eventsDetails {
    box-sizing: border-box;
    padding-bottom: 60px;
}

.eventsDetails h3 {
    font-weight: 300;
    font-size: 16px;
    padding-top: 12px;
    box-sizing: border-box;
}

.eventsAttendees {
    box-sizing: border-box;
    padding-bottom: 60px;
}

.eventsAttendeesTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.eventsAttendeesTop span {
    color: var(--blue);
    cursor: pointer;
}

.attendeesCards {
    display: flex;
    flex-wrap: wrap;
}

/* ----------------------------- */

.attendeeCard {
    width: 134px;
    height: 176px;
    box-sizing: border-box;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 16px;
    margin-right: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
    text-align: center;
}

.attendeeCard:hover {
    box-shadow: 0px 4px 6px #ccc;
    transform: translate(0px, -2px);
}

.attendeeCard img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.attendeeCard h4 {
    font-size: 14px;
    box-sizing: border-box;
    padding-top: 14px;
}

.attendeeCard h5 {
    color: var(--gray);
    font-weight: 300;
    font-size: 12px;
}

.eventsComments h2 {
    padding-bottom: 20px;
}

.eventsSeeMeetups {
    width: 100%;
    height: 63px;
    background: var(--blue);
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
}

.eventsSeeMeetups div {
    box-sizing: border-box;
    padding: 20px;
}

.eventsSeeMeetups img {
    width: 30px;
    height: 30px;
}

.eventsSeeMeetups section {
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

.eventsSeeMeetups h4 {
    font-weight: 300;
    opacity: .7;
}

/* ---------------------------------- */

.eventsSticky {
    box-sizing: border-box;
    padding-bottom: 42px;
}

.eventsMap {
    max-width: 340px;
    height: 400px;
    background: white;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.5;
    box-sizing: border-box;
    padding-top: 20px;
    color: #666;
    position: sticky;
    top: 30px;
}

.eventsTimeHolder {
    display: flex;
    box-sizing: border-box;
    padding-bottom: 30px;
    padding-right: 20px;
}

.eventsTimeHolder h4 {
    color: var(--blue);
    font-weight: 300;
    font-size: 14px;   
    cursor: pointer; 
}

.eventsTimeHolder h6 {
    font-size: 14px;
    font-weight: 300;
}

.eventsTimeHolder span {
    padding: 0px 8px;
}

.eventsMap img {
    width: 24px;
    height: 24px;
    margin: 0px 14px 0px 20px; 
}