/* LoggedOut --------------------------- */
h2, h4 {
    margin: 0;
}

.loggedOut header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.logo {
    height: 44px;
    cursor: pointer;
}

.loggedOut section {
    display: flex;
    align-items: center;
}

.loggedOut span:nth-child(1) {
    color: var(--blue);
    border-right: 1px solid var(--gray);
    line-height: 2;
    padding-right: 16px;
}

.loggedOut span {
    color: var(--gray);
    cursor: pointer;
}

.loggedOut span:hover {
    color: var(--blue)
}

a {
    color: var(--gray);
    text-decoration: none;
}
  
a:hover {
    color: var(--blue)
}

.bigGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 165px 172px 120px 70px 1931px;
}

video {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: 0;
    /* row-start, column-start, row-end, column-end */
    grid-area: 1 / 1 / 6 / 2;
}

.videoContent {
    grid-area:  2 / 1 / 3 / 2;
    z-index: 1;
    color: white;
}

.videoContent h2 {
    font-size: 40px;
}

.videoContent h4 {
    font-size: 20px;
}

.pinkBtn {
    
}

.categoryRow {
    padding: 20px;
    box-sizing: border-box;
    grid-area: 4 / 1 / 5 / 2;
    background: white;
    border: 1px solid rgba(46,62,72,.12);
    z-index: 1;
}

.mainBlock {
    grid-area: 5 / 1 / 6 / 2;   
    z-index: 1;
    background: white; 
}
