h2, h3, h4, h5, h6, p {
    margin: 0;
}

button {
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}

.loggedOut header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.logo {
    height: 44px;
    cursor: pointer;
}

.loggedOut section {
    display: flex;
    align-items: center;
}

.loggedOut span:nth-child(1) {
    color: var(--blue);
    border-right: 1px solid var(--gray);
    line-height: 2;
    padding-right: 16px;
    margin-right: 16px;
    cursor: pointer;
}

.loggedOut span:hover {
    color: var(--blue)
}

.login {
    margin-right: 16px;    
}

.loggedOut a {
    color: var(--gray);
    text-decoration: none;
}
  
.loggedOut a:hover {
    color: var(--blue)
}

.bigGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 165px 172px 120px 70px 1931px;
}

video {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: 0;
    grid-area: 1 / 1 / 6 / 2;
}

.videoContent {
    grid-area:  2 / 1 / 3 / 2;
    z-index: 1;
    color: white;
    margin: auto;
    text-align: center;
}

.videoContent h2 {
    font-size: 40px;
}

.videoContent h4 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.pinkBtn {
    background: var(--pink);
    color: white;
    font-size: 16px;
    padding: 16px 112px;
}

.pinkBtn:hover {
    background: var(--darkPink)
}

.categoryRow {
    padding: 20px;
    box-sizing: border-box;
    grid-area: 4 / 1 / 5 / 2;
    background: white;
    border: 1px solid rgba(46,62,72,.12);
    z-index: 1;
    display: flex;
    justify-content: center;
}

.categoryRow button {
    margin-right: 20px;
    font-weight: 700;
    color: #444;
}

#practiceLanguageBtn {
    margin: 0;
}

.grayBtn {
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grayBtn:hover {
    background: #bbb
}

.mainBlock {
    grid-area: 5 / 1 / 6 / 2;   
    z-index: 1;
    background: white; 
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* EventCards --------------------------- */

.eventCards {
    display: flex;
    flex-direction: column;
    width: 1076px;
}

.eventCards h2:nth-child(1) {
    text-align: left;
    margin: 60px 0px 25px 0px;
}

.eventsHolder {
    min-width: 1030px;
    min-height: 364px;
    display: flex;
    justify-content: center;
}

.eventCard {
    max-width: 330px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 3px 5px #bbb;
    cursor: pointer;
    margin-right: 20px;
    transition: .3s
}

.eventCard:hover {
    box-shadow: 0px 4px 6px #999;
    transform: translate(0px, -2px);
}

#thirdEvent {
    margin: 0;
}

.eventCard img {
    width: 330px;
    height: 175px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.eventCardDate {
    width: 54px;
    height: 54px;
    position: absolute;
    top: 20px;
    left: 20px;
    background: #f6f7f8;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eventCardDate p:nth-child(1) {
    color: var(--pink);
    font-size: 20px;
    font-weight: bold;
}

.eventCardDate p {
    font-size: 12px;
}

.eventCardContent {
    width: 100%;
    height: 189px;
    box-sizing: border-box;
    padding: 16px 24px 16px 20px;
    text-align: left;
}

.eventCard h4 {
    color: var(--gray);
    margin-bottom: 16px;
}

.eventCardAvatar {
    max-width: 45px;
    max-height: 45px;
    border-radius: 50%;
    position: absolute;
    bottom: 16px;
    left: 20px;
}

.hosted{
    position: absolute;
    left: 72px;
    bottom: 22px;
    font-size: 16px;
}

.from {
    position: absolute;
    left: 72px;
    bottom: 12px;
    font-size: 16px;
}

#from {
    color: var(--gray);
    border: none;
    margin: 0;
    margin-right: 4px;
    font-size: 16px;
    padding: 0;
}

/* ----------------------------------- */

.categoryGrid {
    max-width: 1076px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 100px;
}

.exploreBy {
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 25px;
}

.categoryGridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gridCategoryRow {
    border: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: flex-start;
}

.gridItem {
    width: 269px;
    height: 207px;
}

.gridItem img {
    width: 253px;
    height: 160px;
    border-radius: 8px;
    cursor: pointer;
}

.gridItem h3 {
    font-size: 16px;
    color: #666;
    margin-top: 12px;
    cursor: pointer;
}

.howMeetupWorks {
    width: 100%;
    min-height: 330px;
    box-sizing: border-box;
    padding-top: 50px;
    background: var(--black);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.howMeetupWorks h2 {
    font-size: 32px;
    margin-bottom: 48px;
}

.findCreate {
    display: flex;
}

.createAMeetup {
    padding-left: 200px;
    width: 390px;
    
}

.findCreate h3 {
    font-size: 24px;
    margin-bottom: 6px;
}

.findCreate h4 {
    font-size: 16px;
    font-weight: 300;
}

.blueText {
    color: var(--blue);
    font-weight: 700;
    margin-top: 32px;
    cursor: pointer;
    display: flex;
}

#arrowSpan {
    border: none;
}

.blueText img {
    width: 16px;
    height: 16px;
    padding-left: 24px;
}

/* ------------------------------------ */

.getTheApp {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.getTheAppContent {
    text-align: left;
    padding-top: 60px;
}

.getTheApp h2 {
    font-size: 32px;
}

.appButtonsHolder {
    padding-top: 52px;
}

.getTheApp img {
    max-width: 160px;
    cursor: pointer;
    margin-right: 20px;
}

#phone {
    max-width: 100%;
    max-height: 300px;
    margin-left: 260px;
}

#learnMoreBlueText {
    margin-top: 6px;
}

#learnMoreArrow {
    margin: 0;
}

/* ------------------------------ */

.meetupCompanyInfo {
    width: 100%;
    height: 490px;
    background: #353e48;
    color: #eee;
    display: flex;
    justify-content: center;
}

.meetupCompanyInfoContent {
    max-width: 1100px;
    text-align: left    
}

.companyInfoTop {
    padding: 40px 0px;
    border-bottom: 1px solid #666;
    margin-bottom: 40px;
}

.companyInfoTop p {
    text-decoration: underline;
    cursor: pointer;    
}

.companyInfoColumns {
    display: flex;
}

.companyInfoColumn {
 margin-right: 50px;
}

.companyInfoColumn h3 {
    cursor: pointer;
    width: 200px;
    font-size: 16px;    
}

.companyInfoColumn h4 {
    color: #a9a9a9;
    margin-top: 32px;
    cursor: pointer;  
    font-size: 16px;      
}

.socialMediaHolder {
    display: flex;
    margin-bottom: 44px;
}

.socialMediaHolder img {
    width: 24px;
    height: 24px;
    margin-right: 45px;
    cursor: pointer;
}

.languageDropdown {
    width: 340px;
    height: 55px;
    background: var(--black);
    box-sizing: border-box;
    padding: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;    
}

.downloadBtnsHolder {
    display: flex
}

.downloadAppBtn {
    margin-top: 48px;
    max-width: 160px;
    max-height: 49px;
    cursor: pointer;
    margin-right: 20px;
}

/* ---------------------------------- */

footer {
    width: 100%;
    height: 60px;
    background: #2f363f;
    font-size: 13px;
    display: flex;
    color: #eee;
    align-items: center;
    justify-content: center;
}

footer h3 {
    font-weight: 300;
    padding-left: 10px;
    cursor: pointer;
}

