.header .nav {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.header .logo {
    height: 44px;
    cursor: pointer;
}

.header section {
    display: flex;
    align-items: center;
    margin: 0 5%;
}

.header span:nth-child(1) {
    color: var(--pink);
    border-right: 1px solid var(--gray);
    line-height: 2;
    min-width: 150px;
    font-weight: bold; 
}

.header span {
    color: var(--gray);
    cursor: pointer;
    margin: 0 1.5%;
}

.header span:hover {
    color: var(--blue)
}

.header .profile {
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
}

.header .caret {
    font-size: 25%;
    margin: 0 5px;
}

.header .toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .dropdown {
    position: absolute;
    height: 100px;
    width: 200px;
    background: white;
    box-shadow: rgba(0,0,0,0.54) 0 3px 8px 0;
    border-radius: 3px;
    min-width: auto;
    top: auto;
    right: 0;
}

.header .dropdown:before {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}
