.header .nav {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.header .logo {
    height: 44px;
    cursor: pointer;
}

.header section {
    display: flex;
    align-items: center;
    margin: 0 5%;
}

.header span:nth-child(1) {
    color: var(--pink);
    border-right: 1px solid var(--gray);
    line-height: 2;
    min-width: 150px;
    font-weight: bold; 
}

.header span {
    color: var(--gray);
    cursor: pointer;
    margin: 0 1.5%;
}

.header span:hover {
    color: var(--blue)
}

.header .profile {
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
}

.header .caret {
    font-size: 25%;
    margin: 0 5px;
}

.header .shadow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0);
    z-index: 20;
}

.header .toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .dropdown {
    position: absolute;
    height: 150px;
    width: 500px;
    background: white;
    box-shadow: rgba(0,0,0,0.54) 0 3px 8px 0;
    border-radius: 3px;
    min-width: auto;
    top: 75px;
    right: 20px;
    padding: 0 2%;
    display: flex;
}

.header .hoverPink {
    padding: 5%;
    text-align: left;

}

.header .hoverPink:hover {
    background: var(--pink);
    color: white;
}

.header .links {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 2%;
}