.calendarView {
    display: flex;
    margin-top: -35px;
    padding-top: 45px;
    padding-bottom: 100px;
    background: #FAFAFA;
}

.calendarView .leftCol {
    margin-left: auto;
    margin-bottom: 50px;
    width: 70%;
    max-width: 700px;
}

.calendarView .eventDate {
    margin: 10px 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: -.02em;
    word-spacing: .1em;
    text-align: left;
}

.calendarView .event {
    position: relative;
    justify-content: center;
    border-top: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    min-width: 94%;
    margin-right: 20px;
}

.calendarView .start {
    border-top: 1px solid #d1d1d1;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.calendarView .end {
    border: 1px solid #d1d1d1;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.calendarView .eventListCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    width: 94%;
    padding: 3%;
    text-align: left;
}

.calendarView .eventTime {
    min-width: 70px;
    color: var(--gray);
}

.calendarView .eventDetails {
    display: flex;
    flex-direction: column;
    color: var(--gray);
    width: 85%;
}

.calendarView .eventDetails a {
    color: var(--gray);
    text-decoration: none;
}

.calendarView .groupName {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: -.02em;
    word-spacing: .1em;
}

.calendarView .eventName {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: -.02em;
    word-spacing: .1em;
    color: black;
}

.calendarView .showMore {
    max-width: 700px;
    min-width: 94%;
    margin-top: 20px;
    margin-right: 20px;
    border: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: #d1d1d1;
    background-color: white;
    padding: 15px 0;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.calendarView .showMore:hover {
    background: #E8E8E8;
}

.calendarView .rightCol {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-top: 42px;
    width: 28%;
    max-width: 280px;
}

.calendarView .meetupCategories {
    border: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: #d1d1d1;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    min-width: 230px;
    height: auto;
}

.calendarView .meetupCategories hr {
    width: 100%;
    border-style: solid;
    border-width: 0.3px;
    border-color: #d1d1d1;
}

.calendarView .meetupCategories span {
    padding: 3% 3% 3% 8%;
    border-bottom: 1px solid #d1d1d1;
    cursor: pointer;
}

.calendarView .meetupCategories span:last-child{
    border-bottom: 0;
}

.calendarView .activeCategory {
    background: #EDEDFA;
    color: #2429CB;
    border-left: 5px solid #2429CB;
}

.calendarView .today {
    align-self: flex-end;
    height: 20px;
    width: 70px;
    border: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: #d1d1d1;
    background: white;
    margin-top: 30px;
    cursor: pointer;
    text-align: center;
}

.calendarView .calendarComponent {
    height: auto;
    min-width: 230px;
    width: 100%;
    margin-top: 10px;
    border: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: #d1d1d1;
}