.loggedIn .nextMeetup a {
    color: white;
    text-decoration: none;
}

.loggedIn .nextMeetup {
    background: var(--pink);
    min-height: 250px;
    text-align: left;
    color: white;
    text-decoration: none;
}

.loggedIn .myEventContent {
    margin: 0 5%;
    padding: 1% 5%;
}

.loggedIn .myEventContent h5 {
    margin: 15px 0 0 0;
}

.loggedIn .myEventContent hr {
    border-style: solid;
    border-width: 0.3px;
    margin: 10px;
}

.loggedIn .myEventInfo {
    display: flex;
    flex-direction: row;
}

.loggedIn .myEventName {
    width: 65%;
    margin-right: 50px;
    padding: 0 1%;
}

.loggedIn .myEventName h1 {
    margin-top: 0;
}

.loggedIn .myEventTime {
    width: 300px;
    display: flex;
    flex-direction: column;
    color: white;
}

.loggedIn .myEventCal {
    display: flex;
    margin: 10px;
}

.loggedIn .myEventCalText {
    margin: 0 10px;
}

.loggedIn .myEventVenue {
    display: flex;
    margin: 10px;
}

.loggedIn .myEventVenueText {
    margin: 0 10px;
}

.loggedIn .myEventTime img {
    height: 30px;
}

.loggedIn #pinkPin {
    margin-left: 5px;
}

.loggedIn .findContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.loggedIn .findContent h4 {
    color: #FCC7D0;
    font-weight: 100;
}

.loggedIn .filterContainer {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-top: -35px;
}

.loggedIn .filter {
    background: var(--black);
    height: 70px;
    width: 85%;
    margin: auto;
    color: white;
    display: flex;
    position: relative;
}

.loggedIn .allMeetups {
    margin: 13px;
    padding: 13px;
    max-width: 250px;
    min-width: 100px;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
}

.loggedIn .shadow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0);
    z-index: 20;
}

.loggedIn .meetupsFilter {
    position: absolute;
    height: 150px;
    width: 500px;
    background: white;
    box-shadow: rgba(0,0,0,0.54) 0 3px 8px 0;
    border-radius: 3px;
    z-index: 4;
    top: 350px;
    left: 50px;
}

.loggedIn .filterDistance {
    margin-left: 0;
    display: flex;
    align-items: center;
}

@media (max-width: 900px) {
    .loggedIn .filterDistance {
        display: none;
    }
}


.loggedIn .filterDistance select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 13px 2px;
    margin: 13px 0;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    background: var(--black);
    color: white;
    border: none;
    text-align-last: center;
}

.loggedIn select option {
    background: white;
    color: #979797;
    border: none;
    width: auto;
    text-align: center;
}

.loggedIn select option:active {
    border: none;
}

.loggedIn .filterByCity {
    background: var(--black);
    color: white;
    border: none;
    padding: 13px 0;
    margin: 13px 0 13px 6px;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    cursor: pointer;
    width: 150px;
    min-width: 50px;
}

.loggedIn .viewButtons {
    display: flex;
    border: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: #454A51;
    text-align: center;
    margin: 12px;
    position: absolute;
    right: 0;
    color: #BABCBE;
    cursor: pointer;
}

.loggedIn .calendarToggle {
    width: 100px;
    padding: 13px;
}

.loggedIn .groupsToggle {
    border-right: 1px solid #454A51;
    width: 100px;
    padding: 13px;
}

.loggedIn .activeView {
    background: #454A51;
    color: white;
    font-weight: bold;
}
