.loggedIn {
    background: #FAFAFA;
    height: 1500px;
}

.loggedIn .nextMeetup a {
    color: white;
    text-decoration: none;
}

.loggedIn .nextMeetup {
    position: relative;
    background: var(--pink);
    min-height: 170px;
    text-align: left;
    color: white;
    text-decoration: none;
}

.loggedIn .myEventContent {
    padding: 2% 15%;
}

.loggedIn .myEventInfo {
    display: flex;
    flex-direction: row;
}

.loggedIn .myEventName {
    width: 65%;
}

.loggedIn .myEventTime {
    width: 300px;
    display: flex;
    flex-direction: column;
    color: white;
}

.loggedIn .myEventCal {
    display: flex;
    margin: 10px;
}

.loggedIn .myEventCalText {
    margin: 0 10px;
}

.loggedIn .myEventVenue {
    display: flex;
    margin: 10px;
}

.loggedIn .myEventVenueText {
    margin: 0 10px;
}

.loggedIn img {
    height: 30px;
}

.loggedIn .findContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loggedIn .findContent h4 {
    color: #FCC7D0;
    font-weight: 100;
}

.loggedIn .filterContainer {
    width: 100%;
    position: absolute;
    bottom: -35px;
    z-index: 2;
}

.loggedIn .filter {
    background: var(--black);
    height: 70px;
    width: 90%;
    min-width: 900px;
    margin: auto;
    color: white;
    display: flex;
    position: relative;
}

.loggedIn .allMeetups {
    margin: 13px;
    padding: 13px;
    width: 250px;
}

.loggedIn .meetupsFilter {
    position: absolute;
    height: 150px;
    width: 500px;
    background: white;
    box-shadow: rgba(0,0,0,0.54) 0 3px 8px 0;
    border-radius: 3px;
    z-index: 4;
}

.loggedIn .filterDistance {
    margin-left: 0;
    display: flex;
    align-items: center;
}

.loggedIn select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 13px 2px;
    margin: 13px 2px;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    background: var(--black);
    color: white;
    border: none;
    text-align-last: center;
}

.loggedIn select option {
    background: white;
    color: #979797;
    border: none;
    width: auto;
    text-align: center;
}

.loggedIn select option:active {
    border: none;
}

.loggedIn .filterByCity {
    margin-left: 10px;
}

.loggedIn .filterByCity input {
    background: var(--black);
    color: white;
    border: none;
    padding: 13px 0;
    margin: 13px 0;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    width: 150px;
    min-width: 50px;
}

.loggedIn .viewButtons {
    display: flex;
    border: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: #454A51;
    text-align: center;
    margin: 12px;
    position: absolute;
    right: 0;
    color: #BABCBE;
    cursor: pointer;
}

.loggedIn .calendar {
    width: 100px;
    padding: 13px;
}

.loggedIn .groups {
    border-right: 1px solid #454A51;
    width: 100px;
    padding: 13px;
}

.loggedIn .activeView {
    background: #454A51;
    color: white;
    font-weight: bold;
}

.loggedIn .events {
    margin-left: 80px;
    position: relative;
    justify-content: center;
    border: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: #d1d1d1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 700px;
}

.loggedIn .eventCards {
    border-bottom: 1px solid #d1d1d1;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    width: 94%;
    padding: 3%;
    text-align: left;
}

.loggedIn .eventTime {
    width: 100px;
    color: var(--gray);
}

.loggedIn .eventDetails {
    display: flex;
    flex-direction: column;
    color: var(--gray);
    width: 85%;
}

.loggedIn .eventDetails a {
    color: var(--gray);
    text-decoration: none;
}

.loggedIn .groupName {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: -.02em;
    word-spacing: .1em;
}

.loggedIn .eventName {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: -.02em;
    word-spacing: .1em;
    color: black;
}

.loggedIn .today {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 100px;
    stroke: transparent;
    fill: rgba(0,0,0,.87);
    color: rgba(0,0,0,.87);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: -.02em;
    word-spacing: .1em;
    text-align: left;
}
