.groupCard {
    border-top: 1px solid rgba(46, 62, 72, .12);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    margin-bottom: 16px;
    display: flex;
    height: 38vh;
    justify-content: center;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}
.groupCardLogo {
    border-radius: 8px;
    max-width: 100%;
    height: 100%;
}
.groupInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 48px;
    height: 337.5px;
    justify-content: space-between;
    width: 325px;
    text-align: left;
}
.groupInfoHolder {
    display: flex;
    flex-direction: column;
    margin-top: -95px;
    height: 175px;
    justify-content: space-between;
}
.groupImage {
    border-radius: 8px;
    width: 600px;
    height: 337.5px;
    background-image: linear-gradient(rgba(217,217,217,1) 0,rgba(217,217,217,1) 100%,rgba(217,217,217,1) 100%);
    display: flex;
    justify-content: center;
}
.groupNavBar {
    width: 600px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.groupNavBar li {
    cursor: pointer;
}
.groupNavBarWrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    height: 55px;
    box-shadow: 0 0 2px 0 rgba(46,62,72,.12), 0 2px 4px 0 rgba(46,62,72,.12);
    margin-bottom: 3px;
    padding-top: 5px;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 75;
}
.groupNavBarFiller {
    width: 325px;
    padding-left: 87px;
}
.grayBackground {
    width: 100%;
    height: auto;
    background-color: #F6F7F8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tinyText {
    font-size: .75rem;
    line-height: 1.6;
    color: var(--gray)
}
.joinBtn {
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.6;
    color: #fff;
    background: #f13a59;
    text-align: center;
    padding-left: 56px;
    padding-right: 56px;
    width: 160px;
    height: 38px;

}
.whiteBtn {
    height: 40px;
    width: 55px;
    background: white;
    border: 1px solid #d7d9db;
    color: #7F868C;
}
.groupButtonWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.groupOrganizerAvatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.organizerWrapper {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-top: 20px;
}
.innerOrganizerDiv {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.aligner {
    width: 1060px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.innerLeftAligner{
    display: flex;
    flex-direction: column;
    width: 727px;
    height: 100%;
}

/* ---------------- Group Event Card --------------- */
.groupEventCardHolder {
    align-content: center;
    width: 1060px;
}
.groupEventCard {
    background-color: white;
    border-radius: 10px;
    height: 41vh;
    width: 100%;
    cursor: pointer;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    margin-right: 84px;
    transition: .3s;
}
.groupEventCard:hover {
    box-shadow: 0px 4px 6px #ccc;
    transform: translate(0px, -2px);
}
.linkDiv {
    height: 93%;
    width: 100%;
    color: var(--black);
    display: flex;
}
.groupEventCard a {
    text-decoration: none;
}
.groupEventCard button {
    width: 100%;
    background-color: #00a2c7;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.6;
    vertical-align: middle;
    height: 38px;
}
.mainGroupEventCardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 90%;
    width: 45vw;
    padding-top: 15px;
    justify-content: space-between;
    text-align: left;
}
.mainGroupEventCardContent p {
    font-size: .875rem;
    line-height: 1.6;
    color: var(--gray)
}
.groupEventCard p {
    font-size: .875rem;
    line-height: 1.6;
    color: var(--gray)
}
#blackP {
    color: var(--black)
}
#blackBold {
    font-weight: 500!important;
    color: var(--black)
}
.groupEventCardRight {
    width: 385px;
    height: 100%;
    padding: 15px;
    padding-top: 33px;
    padding-right: 20px;
}
.groupEventCardRight p {
    font-size: .875rem;
    line-height: 1.6;
}
.groupEventCardLeft {
    border: 1px solid #d7d9db;
    height: 36px;
    width: 36px;
    background: #f6f7f8;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    color: var(--gray);
}
.groupEventCardLeft p {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.1;
    font-size: .75rem;
}
.groupEventCardLeft p:nth-child(1) {
    color: var(--pink);
    font-size: 20px;
}
.groupEventCard ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.groupAvatarHolder li {
height: 28px;
width: 28px;
border-radius: 50%;
display: inline-block;
border: 1px solid white;
margin-left: -8px; 
background-repeat: no-repeat;
background-position: 50%;
background-size: cover;
vertical-align: middle;
}
.groupEventCard li:nth-child(odd) {
    margin-top: 5px;
}
#peopleGoing {
    margin-left: 8px;
    font-size: .875rem;
    line-height: 1.6;
    color: var(--gray);
    border: none;
    width: 50px;
    height: 100%;
    display: inline-block;
}
.groupAvatarHolder {
    background-color: #f6f7f8;
    border-radius: 36px;
    width: auto;
    height: 38px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 18px;
}
.dateAndTitleDiv {
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5px;

}
.dateAndTitleDiv h1 {
    font-size: 1.75rem;
}
.hostedAvatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
.groupAddress {
    text-align: left;
    padding-left: 25px;
    font-size: .875rem;
    line-height: 1.6;
}
.flexBetween {
    display: flex;
    justify-content: space-between;
}
/* ------------------- Group Description --------------------- */
.groupDescription {
    text-align: left;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    line-height: 1.8;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}
.groupDescriptionDiv {
    width: 600px;
    height: auto;
}
.descriptionSpacer {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 15px;
}
/* ----------------- Mini Event Card ----------------------------- */
.miniEventMainDiv {
    background-color: white;
    width: 310px;
    height: 215px;
    border-radius: 8px;
    transition: .3s;
    cursor: pointer;
    font-size: .875rem;
    line-height: 1.6;
    color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
}
.miniEventMainDiv a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.miniEventMainDiv:hover {
    box-shadow: 0px 4px 6px #ccc;
    transform: translate(0px, -2px);
}
.miniEventDate {
    font-size: .875rem;
    line-height: 1.6;
    color: var(--gray);
    text-align: center;
}
.miniEventContainer {
    padding-top: 20px;
    width: 78%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.miniDateAndTitleDiv {
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5px;
    font-size: .875rem;
    color: var(--gray);
    margin-right: -70px;
}
.miniDateAndTitleDiv h2 {
    font-size: .875rem;
    line-height: 1.2;
    font-weight: 700;
    color: var(--black)
}
.miniGroupAvatarHolder {
    background-color: #f6f7f8;
    border-radius: 36px;
    width: 145px;
    height: 38px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}
.miniGroupAvatarHolder li {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid white;
    margin-left: -8px; 
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    vertical-align: middle;
    }
.miniGroupAvatarHolder ul {
    list-style-type: none;
    margin: 0;
    padding: 0 !important;
    padding-top: 5px;
    display: flex;
    align-content: center;
}
.miniBottomDiv {
    padding-left: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.pastEventsHolder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* ---------------- Member Card ---------------------- */
.memberCardHolder {
    width: 600px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.groupOrganizerCard {
    width: 600px;
    height: 112px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .3s;
}
.groupOrganizerCard:hover {
    box-shadow: 0px 4px 6px #ccc;
    transform: translate(0px, -2px);
}
.groupOrganizerCard img {
width: 72px;
height: 72px;
border-radius: 50%;
}
/* -----------------------Discussion Card -------------------- */
.discussionCardMain {
    background-color: white;
    width: 100%;
    height: 196px;
    border-radius: 8px;
    transition: .3s;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    cursor: pointer;
}
.discussionCardMain:hover {
    box-shadow: 0px 4px 6px #ccc;
    transform: translate(0px, -2px);
}
.discussionCardMain h5 {
    font-weight: 700;
    font-size: .875rem;
}
.discussionCardMain p {
    font-weight: 400;
    font-size: .875rem;
    color: var(--gray)
}
.discussionCardMain h2 {
    font-size: 1.1rem;
    color: var(--black);
    font-weight: 500;
}
.discussionCardHolder {
    width: 600px;
    display: flex;
    flex-direction: column;
}
.discussionCardTopWrapper {
    display: flex;
    justify-content: space-between;
}
.discussionCardTop {
    display: flex;
    width: 245px;
    height: auto;
    justify-content: space-between;
}
.discussionCardTop img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
.discussionCardBottom {
    display: flex;
    justify-content: space-between;
}
.replyWrapper {
    display: flex;
    width: 150px;
}
.threeDots {
    height: 15px;
    width: 15px;
}
.likeHolder {
    display: flex;
    justify-content: space-between;
    width: 48px;
    align-items: center;
}
/* ---------------- Discussion Input ---------------------------- */
.discussionInputMain {
    width: 100%;
    height: 91px;
    background-color: white;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.discussionInputMain input {
    border: none;
    height: 25%;
    width: 75%;
    font-size: 1.1rem;
    font-weight: 500;
    word-wrap: break-word;
}
.discussionInputMain input::placeholder {
    color: #B4B9BC;
    font-weight: 500;
  }
.discussionInputMain input:focus {
    outline:0;
}
.sendButton {
    cursor: pointer;
    height: 25px;
    width: 25px;
}
/* ---------------------- */
.groupTagItem {
    height: 30px;
    border-radius: 4px;
    padding: 4px 16px;
    background-color: #D2D8DD;
    font-size: .875rem;
    line-height: 1.6;
    margin-bottom: 8px;
    width: auto;
    margin-right: 8px;
    transition: .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.groupTagItem:hover {
    background-color: #C8D0D7;
}
.groupTagWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.socialHolder {
    width: 102px;
    height: 40px;
    background: white;
    display: flex;
    border-radius: 4px;
    justify-content: space-around;
    font-size: .875rem;
    line-height: 1.6;
    transition: .3s;
}
.socialHolder:hover {
    box-shadow: 0px 4px 6px #ccc;
    transform: translate(0px, -2px);
}
.bottomDiscussionHolder {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
